<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<body>
	<th:block th:fragment="header">
		<nav
			class="navbar navbar-inverse navbar-static-top sticky-top navbar-light">
			<div class="navbar-header">
				<a class="navbar-brand" th:href="@{#}"> <img
					src="/docs/4.0/assets/brand/bootstrap-solid.svg" width="30"
					height="30" class="d-inline-block align-top" alt=""> Logo
				</a>
			</div>
			<div sec:authorize="isAuthenticated()">
				<form class="form-inline my-2 my-lg-0" th:action="@{/logout}"
					method="post">
					<input class="form-control mr-sm-2 btn btn-primary"
						th:value="#{logout.title}" type="submit" name="logoutSubmit"
						id="logoutSubmit">
				</form>
			</div>
			<div sec:authorize="!isAuthenticated()">
				<a th:href="@{/login}" th:text="#{login.title}"
					class="btn btn-primary">Login</a>
			</div>
		</nav>
	</th:block>
</body>
</html>