<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{fragments/layout}">
<head>
<title th:text="#{reset-password.title}">Reset Password</title>
</head>
<body>
	<!-- Content of this page will be decorated by the elements of layout.html (fragments/layout) -->
	<div layout:fragment="content" th:remove="tag">
		<div class="d-flex justify-content-center pt-5 pb-5">
			<div class="card">
				<div class="card-body">
					<h1 class="card-title title" th:text="#{reset-password.title}">Reset
						Password</h1>
					<p class="card-text subtitle" th:text="#{reset-password.subtitle}">Enter
						your username</p>
					<form th:action="@{/reset-password}" method="post">
						<div class="form-group">
							<label for="username" th:text="#{login.email}">Email</label> <input
								type="text" id="email" name="email" class="form-control"
								autofocus="autofocus">
						</div>
						<div class="form-group">
							<input type="submit" name="login-submit" id="login-submit"
								class="form-control btn btn-primary"
								th:value="#{reset-password.title}">

						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>