<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{fragments/layout}">
<head>
<title th:text="#{update-password.title}">Update Password</title>
</head>
<body>
	<!-- Content of this page will be decorated by the elements of layout.html (fragments/layout) -->
	<div layout:fragment="content" th:remove="tag">
		<div class="d-flex justify-content-center pt-5 pb-5">
			<div class="card">
				<div class="card-body">
					<h1 class="card-title title" th:text="#{update-password.title}">Update
						Password</h1>
					<p class="card-text subtitle" th:text="#{update-password.subtitle}">Enter
						your new password</p>
					<form th:action="@{/update-password}" method="post">
						<div class="form-group">
							<label for="password" th:text="#{update-password.new-password}">New
								Password</label> <input type="password" id="newPassword"
								name="newPassword" class="form-control">
						</div>
						<div class="form-group">
							<label for="password"
								th:text="#{update-password.confirm-password}">Confirm
								Password</label> <input type="password" id="confirmPassword"
								name="confirmPassword" class="form-control">
						</div>
						<div class="form-group">
							<input type="submit" name="login-submit" id="login-submit"
								class="form-control btn btn-primary"
								th:value="#{update-password.title}">

						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>