<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<style>
</style>
<title th:text="#{reset-password.title}">Reset Password</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!--  Put your fonts here... -->
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body th:include="layout :: body" th:with="content=~{::content}">
	<div th:fragment="content">

		<table>
			<tr>
				<td th:text="#{app.name}">AppName</td>
			</tr>
			<tr>
				<td th:text="#{reset-password.message(${reset-password.user})}">Message</td>
			</tr>
			<tr>
				<td>
					<a th:href="${reset-password.uri}"
						th:text="#{reset-password.message}">Reset Password</a>
				</td>
			</tr>
		</table>
	</div>
</body>
</html>