<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<style>
</style>
<title>{{ templateTitle }}</title>
</head>
<body>

	<table>
		<tr>
			<td>
				<table>

					<tr>

					</tr>
					<tr>

					</tr>
					<tr>
						<td></td>
					</tr>
					<tr>
						<td>{{ appName }}</td>
					</tr>
					<tr>
						<td>Hola {{ userName }} has solicitado un restablecimiento de
							contraseña. Haz clic en el siguiente enlace para configurar una
							nueva.</td>
					</tr>
					<tr>
						<td><a href="">Restablecer Contraseña</a></td>
					</tr>
					<tr>
						<td></td>
					</tr>
					<tr>
						<td>Este correo se envió por que...</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>

</body>
</html>