body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		"Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
}

.navbar-light {
	box-shadow: 0 2px 12px 0 #dfe3eb;
	background: #fff;
}

.card {
	font-size: 1rem;
	line-height: 1.25;
	background: #fff;
	color: #4b4b4b;
	margin-bottom: 1.5rem;
	border-radius: .375rem;
	box-shadow: 0 2px 12px 0 #dfe3eb;
	font-weight: 400;
	border: 0 solid #fff;
}

.bg-light {
	background: #eaeff5 !important;
}